/*font-family: 'Black Ops One', cursive;*/

#nav-logo {
    padding-top: 5px !important;
}

#nav-main {
    min-height: 52px;
}

#nav-links {
    padding-top: 5px;
}

#nav-header {
    margin-top: 10px;
}

.navbar-header {
    min-height: 52px !important;
}

.font-logo {
    font-family: 'Special Elite', cursive !important;
}

.blue-text {
    color: #5bc0de !important;
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.footer-text {
    font-size: 15px;
    letter-spacing: 0.11em;
}

.marB0 {
    margin-bottom: 0 !important;
}

.marB10 {
    margin-bottom: 10px !important;
}

.marT25 {
    margin-top: 25px !important;
}