
@{
    ViewBag.Title = "AboutJuryService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutJuryService</h2>

  
    <h1>Learn About Jury Service</h1>
    
        <p>
            Jury service is a way for U.S. citizens to participate in the judicial process.&nbsp;
        </p>
        <h2>
            Juror Selection
        </h2>

        <p>
            Each district court randomly selects citizens’ names from lists of registered voters and people with drivers licenses who live in that district. The people randomly selected complete a questionnaire to help determine if they are qualified to serve on a jury. Those qualified are randomly chosen to be summoned to appear for jury duty. This selection process helps to make sure that jurors represent a cross section of the community, without regard to race, gender, national origin, age, or political affiliation.
        </p>

        <h2>
            Jury Pool to Jury Box
        </h2>

        <p>
            Being summoned for jury service does not guarantee that a person will actually serve on a jury. When a jury is needed for a trial, the group of qualified jurors is taken to the courtroom where the trial will take place. The judge and the attorneys then ask the potential jurors questions to determine their suitability to serve on the jury, a process called voir dire. The purpose of voir dire is to exclude from the jury people who may not be able to decide the case fairly. Members of the panel who know any person involved in the case, who have information about the case, or who may have strong prejudices about the people or issues involved in the case, typically will be excused by the judge. The attorneys also may exclude a certain number of jurors without giving a reason.
        </p>

        <h2>
            Types of Cases Heard by Juries
        </h2>

        <p>
            There are two types of judicial proceedings in the federal courts that use juries.
        </p>

        <ol>
            <li>
                <p>
                    <strong>Criminal trial</strong>: An individual is accused of committing a crime that is considered against society as a whole. Twelve people, and alternates, make up a criminal jury. A unanimous decision must be reached before a defendant is found “guilty.” The government must prove the crime was committed “beyond a reasonable doubt.”
                </p>

                <ul>
                    <li>
                        Guilty pleas and plea negotiations reduce the need for juries in criminal cases.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Civil trial</strong>: Litigants seek remedies for private wrongs that don’t necessarily have a broader social impact. At least six people make up a civil jury. The jury must come to a unanimous decision unless specified otherwise. The standard of proof is a “preponderance of the evidence,” or “more true than not.”
                <ul>
                    <li>
                        Settlement negotiations reduce the need for juries in civil cases.
                    </li>
                </ul>
            </li>
        </ol>

        <h2>
            Working Together: Judge and Jury
        </h2>

        <p>
            The judge determines the appropriate law that should be applied to the case and the jury finds the facts in the case based on what is presented to them during the proceedings.
        </p>

        <p>
            At the end of a trial, the judge instructs the jury on the applicable law. While the jury must obey the judge’s instructions as to the law, the jury alone is responsible for determining the facts of the case.
        </p>



 