@{
    ViewBag.Title = "Contact";
}

<div >
    <h3>CONTACTING JURY SERVICES</h3>
    <div class="descTxt">
        <h4>Jury Services Telephone Numbers</h4>
        <p>Please dial 657-622-7000 to contact the Office of the Jury Commissioner.</p>
        <h4>Jury Services E-mail</h4>
        <p>A message may be sent to Jury Services from this website. Enter the requested information in the online form. Be sure to complete the form thoroughly and accurately so that we may locate your information quickly. You will receive a reply from Jury Services at the e-mail address that you supply. Click <a href="https://ocscefm1.occourts.org/directory/jury-services/juryservicesemail.cfm">here</a> to send a message to Jury Services.</p>
        <h4>Jury Service Mailing Address</h4>
        <p>If contacting Jury Services by mail, address your correspondence to:</p>
        <p>
            Superior Court of California<br>
            County of Orange<br>
            Jury Services<br>
            P.O. Box 1970<br>
            Santa Ana, California 92702-1970
        </p>
    </div>
</div>