
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="page__title title" id="page-title">FAQs: Juror Information</h1>



<article>

    <div class="faqfield-anchor-list">
        <ol><li>How are jurors contacted for service in federal court?</li><li><a href="#faq-Must-I-respond-to-my-jury-duty-notice?">Must I respond to my jury duty notice?</a></li><li><a href="#faq-Who-may-serve-as-a-juror?">Who may serve as a juror?</a></li><li><a href="#faq-Will-I-be-paid-for-jury-service?">Will I be paid for jury service?</a></li><li><a href="#faq-What-if-the-dates-of-my-jury-service-conflict-with-my-work-or-vacation-schedule?">What if the dates of my jury service conflict with my work or vacation schedule?</a></li><li><a href="#faq-Why-have-some-people-never-been-called-for-jury-duty?">Why have some people never been called for jury duty?</a></li><li><a href="#faq--May-I-volunteer-for-jury-service?"> May I volunteer for jury service?</a></li><li><a href="#faq-I-lost-my-juror-summons.-How-do-I-find-out-what-court-summoned-me-for-jury-service?">I lost my juror summons. How do I find out what court summoned me for jury service?</a></li></ol><h3 class="faqfield-question"><a href="#faq-How-are-jurors-contacted-for-service-in-federal-court?" name="faq-How-are-jurors-contacted-for-service-in-federal-court?">How are jurors contacted for service in federal court?</a></h3><div class="faqfield-answer">
            <p>
                Before potential jurors are summoned for service, their names are randomly drawn from voters lists (and sometimes drivers lists) to receive a questionnaire to determine whether they meet the legal qualifications for jury service. Individuals who receive questionnaires are required to complete and return them to the clerk's office, which then screens the completed questionnaires to determine eligibility for jury service. (In some courts, qualification questionnaires and summonses are mailed together.)
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-Must-I-respond-to-my-jury-duty-notice?" name="faq-Must-I-respond-to-my-jury-duty-notice?">Must I respond to my jury duty notice?</a></h3><div class="faqfield-answer">
            <p>
                Yes, it is legally required, and there are penalties for noncompliance. Jurors perform a vital role in the American system of justice. Jury service is an important civic function that supports one of the fundamental rights of citizens - the right to have their cases decided by a jury of their peers.
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-Who-may-serve-as-a-juror?" name="faq-Who-may-serve-as-a-juror?">Who may serve as a juror?</a></h3><div class="faqfield-answer">
            <p>
                The Jury Act, which is set out at Title 28, U.S. Code, Sections 1861-1878, calls for random selection of citizens' names from voters lists or from voter lists supplemented by additional sources (such as drivers lists). Because random selection is required, individuals may not volunteer for service.&nbsp;More on Jury Service
            </p>

            <p>
                The Act states that individuals are legally disqualified from service:
            </p>

            <ul>
                <li>
                    if they are not a citizen of the United States 18 years old, who has resided for a period of one year within the judicial district;
                </li>
                <li>
                    if they are unable to read, write, and understand the English language with a degree of proficiency necessary to fill out a qualification form;
                </li>
                <li>
                    if they are unable to speak the English language;
                </li>
                <li>
                    if they are incapable by reason of mental or physical infirmity to render jury service; or
                </li>
                <li>
                    if they have felony charges pending against them punishable by imprisonment for more than one year, or they have been convicted of a felony and their civil rights have not been restored.
                </li>
            </ul>

            <p>
                In addition, the Jury Act lists three groups that are exempt from federal jury service:
            </p>

            <ul>
                <li>
                    members of the armed forces on active duty;
                </li>
                <li>
                    members of professional fire and police departments; and
                </li>
                <li>
                    "public officers" of federal, state or local governments, who are actively engaged in the performance of public duties.
                </li>
            </ul>

            <p>
                Persons belonging to these groups may not serve on federal juries, even if they so desire.
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-Will-I-be-paid-for-jury-service?" name="faq-Will-I-be-paid-for-jury-service?">Will I be paid for jury service?</a></h3><div class="faqfield-answer">
            <p>
                Yes, federal jurors are paid $40 a day. (Employees of the federal government are paid their regular salary in lieu of this fee.) In most courts, jurors also are reimbursed for reasonable transportation expenses and parking fees.
            </p>

            <p>
                Your employer may continue your salary during all or part of your jury service, but federal law does not require an employer to do so. Nonetheless, the Jury Act forbids any employer from firing, intimidating, or coercing any permanent employee because of their federal jury service.&nbsp;
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-What-if-the-dates-of-my-jury-service-conflict-with-my-work-or-vacation-schedule?" name="faq-What-if-the-dates-of-my-jury-service-conflict-with-my-work-or-vacation-schedule?">What if the dates of my jury service conflict with my work or vacation schedule?</a></h3><div class="faqfield-answer">
            <p>
                The Jury Act allows courts to grant temporary deferrals of service on the grounds of "undue hardship or extreme inconvenience." The qualification questionnaire and juror summons provides specific information on how to request a deferral from your individual court. Whether to grant a deferral is a matter of discretion for the court and cannot be reviewed or appealed to Congress or any other entity.
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-Why-have-some-people-never-been-called-for-jury-duty?" name="faq-Why-have-some-people-never-been-called-for-jury-duty?">Why have some people never been called for jury duty?</a></h3><div class="faqfield-answer">
            <p>
                Eligibility for federal jury service is dependent both upon an individual meeting the legal qualifications for service and upon the random chance of having one's name drawn from the source lists.
            </p>

            <p>
                Each judicial district must have a formal written plan for the selection of jurors, which provides for random selection from a fair cross-section of the community in the district, and which prohibits&nbsp;discrimination in the selection process. Voter records - either voter registration lists or lists of actual voters - are the required source of names for federal court juries. Some courts supplement voter lists with other sources, such as lists of licensed drivers. A copy of a district's jury plan is available for review in the clerk's office.
            </p>

            <p>
                In addition, many courts offer excuses from service, on individual request, to designated groups of persons or occupational classes. Such groups may include persons over age 70; persons who have, within the past two years, served on a federal jury; and persons who serve as volunteer fire fighters or members of a rescue squad or ambulance crew.
            </p>
        </div><h3 class="faqfield-question"><a href="#faq--May-I-volunteer-for-jury-service?" name="faq--May-I-volunteer-for-jury-service?"> May I volunteer for jury service?</a></h3><div class="faqfield-answer">
            <p>
                While the federal courts appreciate your willingness in participating in jury service, you cannot volunteer to serve. Each judicial district must randomly select potential jurors from a fair cross-section of the community in the district, and discrimination in the selection process is prohibited.
            </p>
        </div><h3 class="faqfield-question"><a href="#faq-I-lost-my-juror-summons.-How-do-I-find-out-what-court-summoned-me-for-jury-service?" name="faq-I-lost-my-juror-summons.-How-do-I-find-out-what-court-summoned-me-for-jury-service?">I lost my juror summons. How do I find out what court summoned me for jury service?</a></h3><div class="faqfield-answer">
            <p>
                You may have been called to serve from your local federal court, or a state or other local court in your community. Unfortunately, there is not one place you can go to research the different court systems. To see if you’ve been called to serve on a federal jury, you must contact the local federal district court in your community. Find your local court using the <a href="/court-locator">Court Locator</a>.
            </p>
        </div>
    </div>


</article>
