<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6">
                <img class="img-responsive center-block" src="~/images/Call-of-Jury-Duty_x250.png" alt="Call of Jury Duty Logo" />
            </div>
            <div class="col-md-6">
                <h1 class="blue-text font-logo text-center">Jury Duty</h1>
                <h3 class="text-center"><em>Check-In Service</em></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form id="landingForm" class="form-horizontal">
                <fieldset>
                    <div class="form-group center">
                        <label for="inputJurorId" class="col-lg-2 control-label">Juror ID</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control text-center" id="inputJurorID" name="inputJurorID" placeholder="Juror ID">
                        </div>
                    </div>
                    <div class="form-group center">
                        <label for="inputPIN" class="col-lg-2 control-label">PIN</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control text-center" id="inputPIN" name="inputPIN" placeholder="Juror PIN">
                        </div>
                    </div>
                    <div class="form-group center">
                        <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control text-center" id="inputLastName" name="inputLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-lg-2 col-lg-offset-5">
                        <button id="jurorIdSubmit" type="submit" class="btn btn-primary center-block marT25">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#jurorIdSubmit").on("click", confirmCheckIn);
        });

        function confirmCheckIn(event) {
            event.preventDefault();
            window.open("/Home/View2", '_self');
        }

    </script>
}