
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="page-header" id="page-title">Juror Qualifications</h1>

    <div class="body-content">
        <div id="slide1">
            <h2>
                To be legally qualified for jury service, an individual must:
            </h2>

            <ul>
                <li>
                    be a United States citizen;
                </li>
                <li>
                    be at least 18 years of age;
                </li>
                <li>
                    reside primarily in the judicial district for one year;
                </li>
                <li>
                    be adequately proficient in English to satisfactorily complete the juror qualification form;
                </li>
                <li>
                    have no disqualifying mental or physical condition;
                </li>
                <li>
                    not currently be subject to felony charges punishable by imprisonment for more than one year; and
                </li>
                <li>
                    never have been convicted of a felony (unless civil rights have been legally restored)
                </li>
            </ul>

            <div id="slide2">
                <h2>
                    There are three groups that are exempt from federal jury service:
                </h2>

                <ul>
                    <li>
                        members of the armed forces on active duty;
                    </li>
                    <li>
                        members of professional fire and police departments; and
                    </li>
                    <li>
                        "public officers" of federal, state or local governments, who are actively engaged full-time in the performance of public duties.
                    </li>
                </ul>

                <p>
                    Persons employed on a full-time basis in any of these categories are barred from serving on federal juries, even if they desire to do so.&nbsp;
                </p>

            </div>

        </div>


        <div id="slide3">
            <h2>
                Excuses from Jury Service
            </h2>

            <p>
                Each of the 94 federal district courts maintains its own jury procedures and policies regarding excuses from jury service. Many courts offer excuses from service, on individual request, to designated groups of persons or occupational classes. Such groups may include persons over age 70; persons who have, within the past two years, served on a federal jury; and persons who serve as volunteer fire fighters or members of a rescue squad or ambulance crew.
            </p>

            <p>
                The Jury Act also allows courts to excuse a juror from service at the time he or she is summoned on the grounds of "undue hardship or extreme inconvenience." The juror should write a letter to the clerk of court requesting an excuse with an explanation of hardship.
            </p>

            <p>
                Excuses for jurors are granted at the discretion of the court and cannot be reviewed or appealed to Congress or any other entity.
            </p>
        </div>

    
    </div>

 