
@{
    ViewBag.Title = "JuryPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="media-heading">Juror Pay</h1>

<div class="field field-name-body">
    <h2>
        Petit Jury
    </h2>

    <p>
        Federal jurors are paid $40 a day. While the majority of jury trials last less than a week, jurors can receive up to $50 a day after serving 10 days on a trial. (Employees of the federal government are paid their regular salary in lieu of this fee.) Jurors also are reimbursed for reasonable transportation expenses and parking fees. Jurors also receive a subsistence allowance covering their meals and lodging if they are required to stay overnight.
    </p>

    <p>
        Your employer may continue your salary during all or part of your jury service, but federal law does not require an employer to do so. Nonetheless, the Jury Act forbids any employer from firing, intimidating, or coercing any permanent employee because of their federal jury service. You should check whether your company or employer has a policy for employees serving on jury duty.
    </p>

    <h2>
        Grand Jury
    </h2>

    <p>
        Federal jurors are paid $40 a day. Jurors can receive up to $50 a day after serving 45 days on a grand jury. (Employees of the federal government are paid their regular salary in lieu of this fee.) Jurors also are reimbursed for reasonable transportation expenses and parking fees. Jurors also receive a subsistence allowance covering their meals and lodging if they are required to stay overnight.
    </p>

    <p>
        Your employer may continue your salary during all or part of your jury service, but federal law does not require an employer to do so. Nonetheless, the Jury Act forbids any employer from firing, intimidating, or coercing any permanent employee because of their federal jury service. You should check whether your company or employer has a policy for employees serving on jury duty.
    </p>
</div>
