
@{
    ViewBag.Title = "JuryScam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1 class="page-header" id="page-title">Juror Scams</h1>


    <div class="field field-name-field-lead-paragraph">
        <p>
            WARNING: Bogus Phone Calls, Emails on Jury Service May Lead to Fraud
        </p>
    </div><div class="field field-name-body">
        <p>
            In various parts of the United States, citizens are being targeted by phone calls and emails, threatening them with prosecution for failing to comply with jury service in federal or state courts.
        </p>

        <p>
            In the calls and emails, recipients are pressured to provide confidential data, potentially leading to identity theft and fraud. These calls and emails, which threaten recipients with fines and jail time if they do not comply, are fraudulent and are not connected with the U.S. courts.
        </p>

        <p>
            Federal courts do not require anyone to provide any sensitive information in a telephone call or email. Most contact between a federal court and a prospective juror will be through the U.S. mail, and any phone contact by real court officials will not include requests for Social Security numbers, credit card numbers, or any other sensitive information.
        </p>

        <p>
            Jury duty is a vital civic responsibility and should be taken seriously by all citizens. However, it is a crime for anyone to falsely represent himself or herself as a federal court official. The federal judiciary takes seriously such an offense.
        </p>

        <p>
            Persons receiving such a telephone call or email should not provide the requested information, and should notify the Clerk of Court's office of the U.S. District Court in their area. Contact information for federal courts may be found through the U.S. Courts court locator.
        </p>
 
        </div>
