
@{
    ViewBag.Title = "TypesOfjury";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1 >Types of Juries</h1>
    <div >
        <p>
            There are two types of juries serving different functions in the federal trial courts: trial juries, also known as petit juries, and grand juries.&nbsp;
        </p>
    </div>
        <h2>
            Trial Jury
        </h2>

        <p>
            A trial jury, also known as a petit jury, decides whether the defendant committed the crime as charged in a criminal case, or whether the defendant injured the plaintiff in a civil case.&nbsp;
        </p>

        <ul>
            <li>
                Consists of 6-12 people.
            </li>
            <li>
                Trials are generally public, but jury deliberations are private.
            </li>
            <li>
                Defendants have the right to appear, testify, and call witnesses on their behalf.
            </li>
            <li>
                Final outcome is a verdict, in favor of plaintiff or defendant in a civil case, or guilty/not guilty in a criminal case.
            </li>
        </ul>

        <h2>
            Grand Jury
        </h2>

        <p>
            A grand jury&nbsp;is presented with evidence from the U.S. attorney, the prosecutor in federal criminal cases. The grand jury determines whether there is “probable cause” to believe the individual has committed a crime and should be put on trial. If the grand jury determines there is enough evidence, an indictment will be issued against the defendant.&nbsp;
        </p>

        <ul>
            <li>
                Consists of 16-23 people.
            </li>
            <li>
                Grand jury proceedings are not open to the public.
            </li>
            <li>
                Defendants and their attorneys do not have the right to appear before the grand jury.
            </li>
        </ul>

