@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row marT25">
        <h2 id="require" class="text-center">You are required<br />to attend jury duty<br />for Orange County on:</h2>
        <h2 id="clicked" class="text-center hidden">You are confirmed<br />for Jury Duty on:</h2>
        <br /><br />
        <h3 class="text-center">Date: <span id="spanDate"> </span>  <span id="otherDate"> </span></h3>
        <br /><br />
        <h3 class="text-center">Check-in: 11am</h3>
    </div>
    <br />
    <div>
        <button id="confirm" onclick="confirm()" class="btn btn-primary center-block">Confirm</button>
        <button id="reschedule" class="btn btn-danger">Reschedule</button>
    </div>

<script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>
<script type="text/javascript">

    function confirm() {
        sendEmail = function (onEmailSuccess, onEmailError) {
            var url = "/api/message/ConfirmEmail";
            var settings = {
                cache: false
                , dataType: "json"
                , success: onEmailSuccess
                , error: onEmailError
                , type: "Post"
            };

            $.ajax(url, settings);
        }

        swal("Email Sent!", "Check your inbox for confirmation email!", "success");
        $("#confirm").addClass("hidden");
        $("#require").addClass("hidden");
        $("#clicked").removeClas("hidden");

        onEmailSuccess = function (response) {
            console.log(response);
        }
        onEmailError = function (response) {
            console.log(response);
        }

        sendEmail(onEmailSuccess, onEmailError);
    };

    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
'August', 'September', 'October', 'November', 'December'];
    var tomorrow = new Date();
    tomorrow.setTime(tomorrow.getTime() + (1000 * 114600 * 24));
    document.getElementById("spanDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();

    var reschedule = document.getElementById('reschedule');
    reschedule.onclick = function () { //!!!
        document.getElementById('spanDate').remove();
        this.remove();

        document.getElementById("otherDate").innerHTML = new Date();
        tomorrow.setTime(tomorrow.getTime() + (1000 * 164600 * 24));
        document.getElementById("otherDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();
    };

</script>