
@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<style>
    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>


<body>

    <div class="row">
        <h2 class="col-lg-6 col-centered">You are required to attend jury duty for L.A County on:</h2>
        <br />
        <h3 class="col-lg-3 col-centered">Date: <span id="spanDate"> </span> </h3>
        <br />
        <h3 class="col-lg-3 col-centered">Check-in: 11am</h3>
    </div>
    <br />
    <div class="col-lg-3 col-centered">
        <button onclick="confirm()" class="btn-primary">Confirm</button>
        <button onclick="alterDate()" class="btn-danger">Reschedule</button>
    </div>

</body>


<script type="text/javascript">

    function confirm() {
        alert('Thank You for your confirmation!');
    };

    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
'August', 'September', 'October', 'November', 'December'];
    var tomorrow = new Date();
    tomorrow.setTime(tomorrow.getTime() + (1000 * 3600 * 24));
    document.getElementById("spanDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();

</script>