<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Some&nbsp;Person<br />
        CHIEF EXECUTIVE OFFICER<br />
        JURY COMMISSIONER
    </div>

    <div>
        &nbsp;
        <div>
            <div><span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; line-height: 16.12px; background-color: rgb(255, 255, 255);">700 CIVIC CENTER DR WEST</span></div>

            <div><span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 13px; line-height: 16.12px; background-color: rgb(255, 255, 255);">SANTA ANA CA 92702</span></div>

            <div>&nbsp;</div>
        </div>

        <div>&nbsp;</div>

        <div>This is to certify That __________________ server as a juror in Superior Court of California,</div>

        <div>County of&nbsp;Orange, on the following data: February 02, 2016</div>

        <div>&nbsp;</div>

        <div>Thank you for serving as juror in the Los Angeles Courts. You are among a growing number of Orange County residents who can share a sense of pride and accomplishement in the performance of jury service.</div>

        <div>&nbsp;</div>

        <div>Jury service is often difficult and sometimes inconveient. In the course of their huties jurors are required to excerise patience, open-mindedness and common sense. Ultimately, the ability of juror to bring these and other important qulaityes to bear on their service is essential to out democratic system.</div>

        <div>&nbsp;</div>

        <div>On behlaf of the Judges of the Superior Court, I want you to know that your contribution to the administration of justice in Orange Coutny is valued and apperciated.</div>

        <div>&nbsp;</div>

        <div>Some Person</div>

        <div>Jury Commissioner</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>
    </div>
</body>
</html>
