<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <span style="color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; line-height: 21.3px; background-color: rgb(255, 255, 255);">CENTRAL JUSTICE CENTER</span><br style="line-height: 21.3px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);" />
        <span style="color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; line-height: 21.3px; background-color: rgb(255, 255, 255);">700 CIVIC CENTER DR WEST</span><br style="line-height: 21.3px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);" />
        <span style="color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; line-height: 21.3px; background-color: rgb(255, 255, 255);">SANTA ANA CA 92702</span><br style="line-height: 21.3px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);" />
        <span style="color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; line-height: 21.3px; background-color: rgb(255, 255, 255);">657-622-7000</span>

        <p style="line-height: 21.3px; margin: 0px 0px 1.35em; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;</p>

        <p style="line-height: 21.3px; margin: 0px 0px 1.35em; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">Your jury service has been rescheduled to 02/02/2016. Report to the CENTRAL JUSTICE CENTER, 3RD FLOOR JURY ASSEMBLY ROOM, 700 CIVIC CENTER DR WEST, SANTA ANA at 7:45 am on 02/02/2016. For your convience we provide web check-in,&nbsp;Email confimation of jury duty&nbsp;completion,&nbsp;and SMS Case notification. To access these features please&nbsp;complete the questionnaire online at www.occourts.org/ejuror. For directions and parking information, please visit www.occourts.org/locations.&nbsp;</p>

        <p style="line-height: 21.3px; margin: 0px 0px 1.35em; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
            &nbsp;<font color="blue" size="2" style="line-height: normal;">ID: 123456789&nbsp;&nbsp;&nbsp;GROUP:1234</font><br style="line-height: 21.3px;" />
            &nbsp;BRIJESH PATEL
        </p>
    </div>
</body>
</html>
